.hero-section {
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

/* Dark overlay */
.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}

/* Content above overlay */
.hero-section .container {
  position: relative;
  z-index: 2;
}

/* Search Box */
.search-box {
  background: rgba(255, 255, 255, 0.9);
}

.react-datepicker {
  border-radius: 12px;
  border: none;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.react-datepicker__header {
  background-color: #0d6efd;
  color: white;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-range {
  background-color: #ffc107 !important;
  color: black !important;
  border-radius: 50%;
}

.react-datepicker__day:hover {
  background-color: #0d6efd;
  color: white;
  border-radius: 50%;
}



/* Main Card */

.feedback-card{
    border-radius:25px;
    overflow:hidden;
    backdrop-filter:blur(20px);
}

/* Header */

.feedback-header{
    background:linear-gradient(135deg,#1abc9c,#3498db);
    color:white;
    padding:30px;
}

/* Visitor */

.visitor-box{
    background:#eef9ff;
    border-radius:15px;
    padding:15px;
}

/* Services */

.service-card{
    border-radius:18px;
    transition:.3s;
}

.service-card textarea{
    border-radius:12px;
}

/* Facilities */

.facility-card{
    padding:20px;
    border-radius:18px;
    background:white;
    box-shadow:0 8px 25px rgba(0,0,0,.08);
    transition:.3s;
}

/* Submit */

.submit-btn{
    border:none;
    border-radius:40px;
    background:linear-gradient(90deg,#16a085,#2ecc71);
    padding:14px 45px;
    font-weight:bold;
}

.submit-btn:hover{
    background:linear-gradient(90deg,#27ae60,#16a085);
}

/* Stars */

.star{
    font-size:32px;
    cursor:pointer;
    color:#d9d9d9;
    transition:.2s;
}

.star:hover{
    color:#FFD700;
    transform:scale(1.3);
}

.star.active{
    color:#FFD700;
}

textarea:focus{
    border-color:#3498db;
    box-shadow:0 0 12px rgba(52,152,219,.25);
}